{%extends 'blog/base.html'%}
{% load static %}
{% block body %}
<h1><img src='{% static "files/capture.jpg" %}'>Blaine O'Driscoll</h1>
<p> I am a confident, hard working engineer with excellent problem solving and communication skills. I have 8 years experience in the field at EFT and have a solid track record for meeting project deadlines and giving outstanding support to clients of the EFT software.
 <br>
<p>Here is 6 quick points about me and my work to give you an overview: </p>
<br>
<ol>
    <li>I completed a Bsc (Hons) degree in Physics, Medical Physics and Bio-Engineering at Dublin Institute of Technology.</li>
    <li>I have worked as a support engineer at EFT Analytics for the past 8 years. EFT is a software company which distributes energy management systems across a number of leading companies worldwide.</li>
    <li>My main roles at EFT are setting up versions of our software for customers, investigating and resolving data/infrastructure issues, training customers on how to use the software, and collaborating with them to design effective reports to visualise there data.</li>
    <li>I have excellent SQL, Excel, VBA and Python programming skills and have a good understanding of cloud infrastructure, and frontend development. I am certified in both Aws and Python.</li>
    <li>I have a keen interest in development and I am constantly furthering my skills through books, online courses and personal projects. </li>
    <li>In my personal life I train and coach martial arts a number of times a week at one of Europes leading martial arts gyms SBG Ireland.</p></li>
</ol>

{% endblock %}