{%extends 'blog/base.html'%} {% load static %} {% block body %}
<div class="about-me">
  <img id="my-img" src='{% static "files/capture.jpg" %}' />
  <div class="about-me-content">
    <h4>Who Am I:</h4>
    <p>
      I am a self driven engineer with excellent problem solving and
      communication skills. I have almost 8 years experience at EFT Analytics
      and have a solid track record for giving outstanding support to our
      clients and developing new intuitive ways to tackle issues/requests.
    </p>

    <h4>3 Quick Points about what i do:</h4>
    <ul>
      <li class="aboutme-content">
        I completed a Bsc (Hons) degree in Physics, Medical Physics and
        Bio-Engineering at Dublin Institute of Technology, I have certifications
        in AWS Cloud services and Python Programming.
      </li>
      <li class="aboutme-content">
        My main roles at EFT are investigating infrastructure/data issues
        keeping our systems stable and assisting customers on the best practices
        of the software and helping them apply the features to there projects.
      </li>
      <li class="aboutme-content">
        I have excellent SQL and Python skills and have a deep understanding of
        AWS cloud services and have ample experience with Linux/Windows servers
        and various logging and IAC tools.
      </li>
    </ul>
    <h4>Where i want to go:</h4>
    <p>
      I have a keen interest in technology and I am constantly furthering my
      knowledge through books, online courses and personal projects. A DevOp
      type role where I will be challenged and have opportunity's to improve and
      collaborate with other like minded individuals would really excite me.
    </p>
  </div>
</div>

{% endblock %}
