{%extends 'blog/base.html'%} {% load static %} {% block body %}
<h3 style="text-align: left" ;>
  <strong>
    Welcome to my portfolio, Enjoy exploring my various projects below</strong
  >
  </h3>
    <p style="text-align: left; margin-bottom:20px">
      if you have any questions feel free to contact me
      <strong>blaineodriscoll91@gmail.com </strong>
    </p>
    <ul>
      <li class="related-post">
        <img src='{% static "files/mysql.jpg" %}' width="200" height="150" /><br
          clear="left"
        />
        <div>
        <a class='related-link' href="https://github.com/BlaineHub/mysql-load_file_local_app"
        ><strong>MYSQL-CSV FILE LOADER</strong></a
      >
      <h5 class="link-description">An Application to load data from a csv file directly into a MYSQL table.</h5>
    </div>
      </li>
      <li class="related-post">
        <img
          src='{% static "files/connect.jpg" %}'
          width="200"
          height="150"
        /><br clear="left" />
        <div>
        <a class='related-link' href="{% url 'game' %}"
        ><strong>JavaScript Game (ConnectFour)</strong></a
      >
      <h5 class="link-description">
        A 2 player connect four game developed using JavaScript and embedded into
        the django project.
      </h5>
    </div>
      </li>
      <li class="related-post">
        <img src='{% static "files/word.jpg" %}' width="200" height="150" /><br
          clear="left"
        />
        <div>
        <a class='related-link' href="https://blaine91.pythonanywhere.com/"
        ><strong>WordApp (Flask)</strong></a
      >
      <h5 class="link-description">
        A Flask application hosted on Python anywhere, containing multiple different smaller applications such as
        dictionary, mulit language translator and motivational quote generator.
      </h5>
    </div>
      </li>
      <li class="related-post">
        <img
          src='{% static "files/excelcharts.jpg" %}'
          width="200"
          height="150"
        /><br clear="left" />
        <div>
        <a class='related-link'
        href="https://blaines-automated-reporting.s3.eu-west-1.amazonaws.com/Automated_Reports.zip"
        ><strong>Excel Portfolio (S3 Download)</strong></a
      >
      <h5 class="link-description">
        A good report can say more then words, this is a link to an s3 download of my visualization portfolio.
      </h5>
    </div>
      </li>
      {% endblock %}
    </ul>
  </h3>
</h3>
