<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blaine Web</title>
    <link href='{% static "css/style.css" %}' rel="stylesheet" />
    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1><a href="{% url 'aboutsite' %}">Blaines PortFolio</a></h1>
        <nav>
          <a href="{% url 'about' %}">About Me</a>
          <a href="{% url 'post_list' %}">Experience</a>
          <a href="{% url 'post_list2' %}">Education</a>
          <a href="https://www.linkedin.com/in/blaine-o-driscoll">LinkedIn</a>
          <a href="https://github.com/BlaineHub">GitHub</a>
        </nav>
      </header>
      {% block body %} {% endblock %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
