{%extends 'blog/base.html'%}
{% block body %}
<div class="centerstage">
    <div class="jumbotron">
        <h5>2010 - BSc Honours Degree in Physics and Bioengineering</h5>
        <p><strong>Modules included:</strong> Physics, Chemistry, Biology, Advanced Mathematics, Statistical Protocol Control, Medical Devices & Feedback Control, Diagnostic Imaging, Radiotherapy, Electronics (Analogue & Digital), Information Technology Fundamentals, Programming

            Included 10 hours of practical problem-based learning work per week.
            Final Year Project: Developing Academic Experiments for the Gamma Ray Spectrometer 
            </p>
    </div>
    <div class="jumbotron">
        <h5>2021 - QQI Level 6 Training Delivery and Evaluation Qualification.</h5>
        <p><strong>Modules included:</strong>  Learning Styles, Learning Barriers, Training Delivery, Training Styles, Training evaluation process and models, Evaluation tools and techniques
            </p>
    </div>
    <div class="jumbotron">
        <h5>2022 – AWS Certified Cloud Practitioner</h5>
        <p><strong>Modules included:</strong>  Cloud Computing Concepts, Cloud Applications, Cloud Architecture, Cloud Deployment & Services.
            </p>
    </div>
    <div class="jumbotron">
        <h5>2022 – PCAP Certified Associate in Python Programming</h5>
        <p><strong>Modules included:</strong>  Control and Evaluations, Data Aggregates, Functions and Modules, Classes, Objects and Exceptions.
            </p>
    </div>
    <div class="jumbotron">
            <h5>Other Learning</h5>
        <ul>
            <li>Book – The Self-Taught Programmer by Cory Althoff</li>
            <li>Course – The Complete SQL Bootcamp 2021</li>
            <li>Course -Python for Data Science and Machine Learning</li>
            <li>Course – The Python Mega Course: Building Real World Applications</li>
            <li>Course – AWS Automation with Python boto3 and Lambda functions</li>
            <li>Course – Excel Advanced Dashboard Design</li>
            <li>Course – Master Microsoft Excel Macros and Excel VBA</li>
        </ul>
    </div>
   </div>
{% endblock %}