{%extends 'blog/base.html'%} {% block body %}
<div class="container">
  <h4>
    2010 - BSc Honours Degree in Physics, Medical Physics and Bioengineering
  </h4>
  <p>
    <span style="color: #2c4231"><strong>Modules included:</strong></span>
    Physics, Chemistry, Biology, Advanced Mathematics, Statistical Protocol
    Control, Medical Devices & Feedback Control, Diagnostic Imaging,
    Radiotherapy, Electronics (Analogue & Digital), Information Technology
    Fundamentals, Programming Basics.
  </p>
  <p>
    <span style="color: #2c4231"><strong>Project: </strong></span>Developing
    Academic Experiments for the Gamma Ray Spectrometer
  </p>
  <p style="color: #2c4231; font-weight: bold">
    Included 10 hours of practical problem-based learning work per week. Final
    Year
  </p>
  <br/>
  <h4>2021 - QQI Level 6 Training Delivery and Evaluation Qualification.</h4>
  <p>
    <span style="color: #2c4231"><strong>Modules included:</strong></span> Learning Styles, Learning Barriers,
    Training Delivery, Training Styles, Training evaluation process and models,
    Evaluation tools and techniques
  </p>
  <br />
  <h4>2022 – AWS Certified Cloud Practitioner</h4>
  <p>
    <span style="color: #2c4231"><strong>Modules included:</strong></span> Cloud Computing Concepts, Cloud
    Applications, Cloud Architecture, Cloud Deployment & Services.
  </p>
  <br />
  <h4>2022 – PCAP Certified Associate in Python Programming</h4>
  <p>
    <span style="color: #2c4231"><strong>Modules included:</strong><span> Control and Evaluations, Data Aggregates,
    Functions and Modules, Classes, Objects and Exceptions.
  </p>
  <br />
  <h4>***Other Learning***</h4>
  <ul>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> Mastering Modbus RS485 network communication</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> Excel advanced dashboard design</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> Advanced SQL Database administration</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> The Python mega course: Building real world applications</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> Django full stack web development</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> AWS automation with Python Boto3 and Lambda functions</li>
    <li>
      <span style="color: #2c4231"><strong>Course -</strong><span> DevOps CI/CD with Jenkins, Ansible, Nexus, Docker, Terraform
    </li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> The complete Splunk beginner course</li>
    <li><span style="color: #2c4231"><strong>Course -</strong><span> Linux Mastery: Mastering the Linux command line</li>
  </ul>
</div>
{% endblock %}
